In [1]:
import os
from src import *
from src.data_classes.adult_data import *
from src.data_classes.german_data import *
from typing import List, Dict
import matplotlib.pyplot as plt
import numpy as np
import matplotlib.cm as cm

In [7]:
german = GermanData()
data = german.dataset_orig#german._raw

In [8]:
data.columns

"""
Index(['1', '2', 'credit_history', '4', '5', 'savings', 'employment', '8',
    'sex', '10', '11', '12', 'age', '14', '15', '16', '17', '18', '19',
    '20', 'Probability'],
    dtype='object')
"""

"\nIndex(['1', '2', 'credit_history', '4', '5', 'savings', 'employment', '8',\n    'sex', '10', '11', '12', 'age', '14', '15', '16', '17', '18', '19',\n    '20', 'Probability'],\n    dtype='object')\n"

In [9]:
data

,checkings,duration,credit_history,credit_amount,savings,employment,credit_amount_%_income,sex,guarantors,property,age,housing,job,nr_dependants,Probability,co-applicant
0,0,6,Other,1169,0,10,4,1,0,A121,67,A152,A173,1,1,0
1,100,48,Paid,5951,50,3,2,0,0,A121,22,A152,A173,1,0,0
2,0,12,Other,2096,50,6,2,1,0,A121,49,A152,A172,2,1,0
3,0,42,Paid,7882,50,6,2,1,1,A122,45,A153,A173,2,1,0
4,0,24,Delay,4870,50,3,3,1,0,A124,53,A153,A173,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,12,Paid,1736,50,6,3,0,0,A121,31,A152,A172,1,1,0
996,0,30,Paid,3857,50,3,4,1,0,A122,40,A152,A174,1,1,0
997,0,12,Paid,804,50,10,4,1,0,A123,38,A152,A173,1,1,0
998,0,45,Paid,1845,50,3,4,1,0,A124,23,A153,A173,1,0,0
999,100,45,Other,4576,250,0,3,1,0,A123,27,A152,A173,1,1,0

In [10]:
print(german._X.columns)
print(len(german._X.columns))

german._X

Index(['checkings', 'duration', 'credit_amount', 'savings', 'employment',
       'credit_amount_%_income', 'age', 'nr_dependants',
       'credit_history: cat=Delay', 'credit_history: cat=None',
       'credit_history: cat=Other', 'credit_history: cat=Paid',
       'property: cat=A121', 'property: cat=A122', 'property: cat=A123',
       'property: cat=A124', 'housing: cat=A151', 'housing: cat=A152',
       'housing: cat=A153', 'job: cat=A171', 'job: cat=A172', 'job: cat=A173',
       'job: cat=A174', 'sex', 'guarantors', 'co-applicant'],
      dtype='object')
26

,checkings,duration,credit_amount,savings,employment,credit_amount_%_income,age,nr_dependants,credit_history: cat=Delay,credit_history: cat=None,...,housing: cat=A151,housing: cat=A152,housing: cat=A153,job: cat=A171,job: cat=A172,job: cat=A173,job: cat=A174,sex,guarantors,co-applicant
0,-0.578757,-1.236478,-0.745131,-0.504136,1.505480,0.918477,2.766457,-0.428290,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,0.684905,2.248194,0.949817,-0.360220,-0.506809,-0.870183,-1.191404,-0.428290,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,-0.578757,-0.738668,-0.416562,-0.360220,0.355600,-0.870183,1.183312,2.334869,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,-0.578757,1.750384,1.634247,-0.360220,0.355600,-0.870183,0.831502,2.334869,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
4,-0.578757,0.256953,0.566664,-0.360220,-0.506809,0.024147,1.535122,2.334869,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,-0.578757,-0.738668,-0.544162,-0.360220,0.355600,0.024147,-0.399832,-0.428290,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
996,-0.578757,0.754763,0.207612,-0.360220,-0.506809,0.918477,0.391740,-0.428290,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
997,-0.578757,-0.738668,-0.874503,-0.360220,1.505480,0.918477,0.215835,-0.428290,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
998,-0.578757,1.999289,-0.505528,-0.360220,-0.506809,0.918477,-1.103451,-0.428290,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
999,0.684905,1.999289,0.462457,0.215441,-1.369219,0.024147,-0.751642,-0.428290,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [11]:

intersection_counts = pd.crosstab(data['sex'], data['Probability'])

# Display the result
print("Intersection Counts:")
print(intersection_counts)

ratio_y_to_x = intersection_counts[0] / intersection_counts[1]

# Display the result
print("Ratio between counts of 'Y' and 'X' for each category in 'Category1':")
print(ratio_y_to_x)

Intersection Counts:
Probability    0    1
sex
0            109  201
1            191  499
Ratio between counts of 'Y' and 'X' for each category in 'Category1':
sex
0    0.542289
1    0.382766
dtype: float64

:

In [7]:
"""
intersection_counts = pd.crosstab(data['occupation'], data['Probability'])

# Display the result
print("Intersection Counts:")
print(intersection_counts)

ratio_y_to_x = intersection_counts[0] / intersection_counts[1]

# Display the result
print("Ratio between counts of 'Y' and 'X' for each category in 'Category1':")
print(ratio_y_to_x)
"""

'\nintersection_counts = pd.crosstab(data[\'occupation\'], data[\'Probability\'])\n\n# Display the result\nprint("Intersection Counts:")\nprint(intersection_counts)\n\nratio_y_to_x = intersection_counts[0] / intersection_counts[1]\n\n# Display the result\nprint("Ratio between counts of \'Y\' and \'X\' for each category in \'Category1\':")\nprint(ratio_y_to_x)\n'