In [1]:
import os
from src import *
from src.data_classes.adult_data import *
from src.data_classes.german_data import *
from typing import List, Dict
import matplotlib.pyplot as plt
import numpy as np
import matplotlib.cm as cm

In [2]:
german = GermanData()
data = german._raw

In [3]:
data.columns

"""
Index(['1', '2', 'credit_history', '4', '5', 'savings', 'employment', '8',
    'sex', '10', '11', '12', 'age', '14', '15', '16', '17', '18', '19',
    '20', 'Probability'],
    dtype='object')
"""

"\nIndex(['1', '2', 'credit_history', '4', '5', 'savings', 'employment', '8',\n    'sex', '10', '11', '12', 'age', '14', '15', '16', '17', '18', '19',\n    '20', 'Probability'],\n    dtype='object')\n"

In [4]:
data

,1,2,credit_history,4,5,savings,employment,8,sex,10,...,12,age,14,15,16,17,18,19,20,Probability
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,A14,12,A32,A42,1736,A61,A74,3,A92,A101,...,A121,31,A143,A152,1,A172,1,A191,A201,1
996,A11,30,A32,A41,3857,A61,A73,4,A91,A101,...,A122,40,A143,A152,1,A174,1,A192,A201,1
997,A14,12,A32,A43,804,A61,A75,4,A93,A101,...,A123,38,A143,A152,1,A173,1,A191,A201,1
998,A11,45,A32,A43,1845,A61,A73,4,A93,A101,...,A124,23,A143,A153,1,A173,1,A192,A201,2
999,A12,45,A34,A41,4576,A62,A71,3,A93,A101,...,A123,27,A143,A152,1,A173,1,A191,A201,1

In [5]:
print(german._X.columns)
print(len(german._X.columns))

german._X

Index(['checkings', 'duration', 'credit_amount', 'savings', 'employment',
       'credit_amount_%_income', 'age', 'nr_dependants',
       'credit_history: cat=Delay', 'credit_history: cat=None',
       'credit_history: cat=Other', 'credit_history: cat=Paid',
       'property: cat=A121', 'property: cat=A122', 'property: cat=A123',
       'property: cat=A124', 'housing: cat=A151', 'housing: cat=A152',
       'housing: cat=A153', 'job: cat=A171', 'job: cat=A172', 'job: cat=A173',
       'job: cat=A174', 'sex', 'guarantors', 'co-applicant'],
      dtype='object')
26

,checkings,duration,credit_amount,savings,employment,credit_amount_%_income,age,nr_dependants,credit_history: cat=Delay,credit_history: cat=None,...,housing: cat=A151,housing: cat=A152,housing: cat=A153,job: cat=A171,job: cat=A172,job: cat=A173,job: cat=A174,sex,guarantors,co-applicant
0,-0.578757,-1.236478,-0.745131,-0.504136,1.505480,0.918477,2.766457,-0.428290,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,0.684905,2.248194,0.949817,-0.360220,-0.506809,-0.870183,-1.191404,-0.428290,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,-0.578757,-0.738668,-0.416562,-0.360220,0.355600,-0.870183,1.183312,2.334869,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,-0.578757,1.750384,1.634247,-0.360220,0.355600,-0.870183,0.831502,2.334869,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
4,-0.578757,0.256953,0.566664,-0.360220,-0.506809,0.024147,1.535122,2.334869,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,-0.578757,-0.738668,-0.544162,-0.360220,0.355600,0.024147,-0.399832,-0.428290,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
996,-0.578757,0.754763,0.207612,-0.360220,-0.506809,0.918477,0.391740,-0.428290,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
997,-0.578757,-0.738668,-0.874503,-0.360220,1.505480,0.918477,0.215835,-0.428290,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
998,-0.578757,1.999289,-0.505528,-0.360220,-0.506809,0.918477,-1.103451,-0.428290,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
999,0.684905,1.999289,0.462457,0.215441,-1.369219,0.024147,-0.751642,-0.428290,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [7]:
"""
intersection_counts = pd.crosstab(data['occupation'], data['Probability'])

# Display the result
print("Intersection Counts:")
print(intersection_counts)

ratio_y_to_x = intersection_counts[0] / intersection_counts[1]

# Display the result
print("Ratio between counts of 'Y' and 'X' for each category in 'Category1':")
print(ratio_y_to_x)
"""

'\nintersection_counts = pd.crosstab(data[\'occupation\'], data[\'Probability\'])\n\n# Display the result\nprint("Intersection Counts:")\nprint(intersection_counts)\n\nratio_y_to_x = intersection_counts[0] / intersection_counts[1]\n\n# Display the result\nprint("Ratio between counts of \'Y\' and \'X\' for each category in \'Category1\':")\nprint(ratio_y_to_x)\n'