In [1]:
import os
from src import *
from src.data_classes.adult_data import *
from src.data_classes.german_data import *
from typing import List, Dict
import matplotlib.pyplot as plt
import numpy as np
import matplotlib.cm as cm

In [2]:
german = GermanData()
data = german._raw

In [3]:
data.columns

"""
Index(['1', '2', 'credit_history', '4', '5', 'savings', 'employment', '8',
    'sex', '10', '11', '12', 'age', '14', '15', '16', '17', '18', '19',
    '20', 'Probability'],
    dtype='object')
"""

"\nIndex(['1', '2', 'credit_history', '4', '5', 'savings', 'employment', '8',\n    'sex', '10', '11', '12', 'age', '14', '15', '16', '17', '18', '19',\n    '20', 'Probability'],\n    dtype='object')\n"

In [4]:
data

,1,2,credit_history,4,5,savings,employment,8,sex,10,...,12,age,14,15,16,17,18,19,20,Probability
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,A14,12,A32,A42,1736,A61,A74,3,A92,A101,...,A121,31,A143,A152,1,A172,1,A191,A201,1
996,A11,30,A32,A41,3857,A61,A73,4,A91,A101,...,A122,40,A143,A152,1,A174,1,A192,A201,1
997,A14,12,A32,A43,804,A61,A75,4,A93,A101,...,A123,38,A143,A152,1,A173,1,A191,A201,1
998,A11,45,A32,A43,1845,A61,A73,4,A93,A101,...,A124,23,A143,A153,1,A173,1,A192,A201,2
999,A12,45,A34,A41,4576,A62,A71,3,A93,A101,...,A123,27,A143,A152,1,A173,1,A191,A201,1

In [5]:
print(german._X.columns)

german._X

Index(['checkings', 'duration', 'credit_amount', 'savings', 'employment',
       'credit_amount_%_income', 'age', 'nr_dependants',
       'credit_history: cat=Delay', 'credit_history: cat=None',
       'credit_history: cat=Other', 'credit_history: cat=Paid', 'sex: cat=0',
       'sex: cat=1', 'property: cat=A121', 'property: cat=A122',
       'property: cat=A123', 'property: cat=A124', 'housing: cat=A151',
       'housing: cat=A152', 'housing: cat=A153', 'job: cat=A171',
       'job: cat=A172', 'job: cat=A173', 'job: cat=A174', 'guarantors',
       'Probability', 'co-applicant'],
      dtype='object')

,checkings,duration,credit_amount,savings,employment,credit_amount_%_income,age,nr_dependants,credit_history: cat=Delay,credit_history: cat=None,...,housing: cat=A151,housing: cat=A152,housing: cat=A153,job: cat=A171,job: cat=A172,job: cat=A173,job: cat=A174,guarantors,Probability,co-applicant
0,-0.578757,-1.236478,-0.745131,-0.504136,1.505480,0.918477,2.766457,-0.428290,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,0.684905,2.248194,0.949817,-0.360220,-0.506809,-0.870183,-1.191404,-0.428290,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,-0.578757,-0.738668,-0.416562,-0.360220,0.355600,-0.870183,1.183312,2.334869,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,-0.578757,1.750384,1.634247,-0.360220,0.355600,-0.870183,0.831502,2.334869,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
4,-0.578757,0.256953,0.566664,-0.360220,-0.506809,0.024147,1.535122,2.334869,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,-0.578757,-0.738668,-0.544162,-0.360220,0.355600,0.024147,-0.399832,-0.428290,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
996,-0.578757,0.754763,0.207612,-0.360220,-0.506809,0.918477,0.391740,-0.428290,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
997,-0.578757,-0.738668,-0.874503,-0.360220,1.505480,0.918477,0.215835,-0.428290,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
998,-0.578757,1.999289,-0.505528,-0.360220,-0.506809,0.918477,-1.103451,-0.428290,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
999,0.684905,1.999289,0.462457,0.215441,-1.369219,0.024147,-0.751642,-0.428290,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [6]:
intersection_counts = pd.crosstab(data['occupation'], data['Probability'])

# Display the result
print("Intersection Counts:")
print(intersection_counts)

ratio_y_to_x = intersection_counts[0] / intersection_counts[1]

# Display the result
print("Ratio between counts of 'Y' and 'X' for each category in 'Category1':")
print(ratio_y_to_x)

KeyError: 'occupation'

In [ ]:
intersection_counts = pd.crosstab(data['marital-status'], data['relationship'])

# Display the result
print("Intersection Counts:")
print(intersection_counts)



intersection_counts = pd.crosstab(data['relationship'], data['Probability'])

# Display the result
print("Intersection Counts:")
print(intersection_counts)


ratio_y_to_x = intersection_counts[0] / intersection_counts[1]

# Display the result
print("Ratio between counts of 'Y' and 'X' for each category in 'Category1':")
print(ratio_y_to_x)

"""
Husband and wife straight up give away gender except for verrry few cases (3)!!!
Unmarried is also vey repetitive...

Only relative columns seem 
Other-relative   
Own-child  
Spouse (Husband/Wife)
None (THe rest)       

"""

Intersection Counts:
relationship           Husband  Not-in-family  Other-relative  Own-child  \
marital-status
Divorced                     0           2404             110        328
Married-AF-spouse            9              0               1          1
Married-civ-spouse       13184             17             124         95
Married-spouse-absent        0            211              32         45
Never-married                0           4706             611       4485
Separated                    0            420              55         99
Widowed                      0            547              48         15

relationship           Unmarried  Wife
marital-status
Divorced                    1601     0
Married-AF-spouse              0    12
Married-civ-spouse             0  1556
Married-spouse-absent        130     0
Never-married                881     0
Separated                    451     0
Widowed                      383     0
Intersection Counts:
Probability        0     1
relationship
Husband         7275  5918
Not-in-family   7449   856
Other-relative   944    37
Own-child       5001    67
Unmarried       3228   218
Wife             823   745
Ratio between counts of 'Y' and 'X' for each category in 'Category1':
relationship
Husband            1.229300
Not-in-family      8.702103
Other-relative    25.513514
Own-child         74.641791
Unmarried         14.807339
Wife               1.104698
dtype: float64

'\nHusband and wife straight up give away gender except for verrry few cases (3)!!!\nUnmarried is also vey repetitive...\n'

In [ ]:
intersection_counts = pd.crosstab(data['native-country'], data['race'])

# Display the result
print("Intersection Counts:")
print(intersection_counts)


ratio_y_to_x = intersection_counts[0] / intersection_counts[1]

# Display the result
print("Ratio between counts of 'Y' and 'X' for each category in 'Category1':")
print(ratio_y_to_x)

Intersection Counts:
race                           0      1
native-country
?                            197    386
Cambodia                      19      0
Canada                         2    119
China                         73      2
Columbia                       8     51
Cuba                           5     90
Dominican-Republic            31     39
Ecuador                        9     19
El-Salvador                    5    101
England                        9     81
France                         1     28
Germany                       13    124
Greece                         1     28
Guatemala                      4     60
Haiti                         44      0
Holand-Netherlands             0      1
Honduras                       1     12
Hong                          18      2
Hungary                        0     13
India                         92      8
Iran                           8     35
Ireland                        1     23
Italy                          0     73
Jamaica                       76      5
Japan                         43     19
Laos                          18      0
Mexico                        53    590
Nicaragua                      6     28
Outlying-US(Guam-USVI-etc)     6      8
Peru                           1     30
Philippines                  190      8
Poland                         1     59
Portugal                       1     36
Puerto-Rico                   32     82
Scotland                       0     12
South                         79      1
Taiwan                        49      2
Thailand                      16      2
Trinadad&Tobago               19      0
United-States               3549  25621
Vietnam                       65      2
Yugoslavia                     0     16
Ratio between counts of 'Y' and 'X' for each category in 'Category1':
native-country
?                              0.510363
Cambodia                            inf
Canada                         0.016807
China                         36.500000
Columbia                       0.156863
Cuba                           0.055556
Dominican-Republic             0.794872
Ecuador                        0.473684
El-Salvador                    0.049505
England                        0.111111
France                         0.035714
Germany                        0.104839
Greece                         0.035714
Guatemala                      0.066667
Haiti                               inf
Holand-Netherlands             0.000000
Honduras                       0.083333
Hong                           9.000000
Hungary                        0.000000
India                         11.500000
Iran                           0.228571
Ireland                        0.043478
Italy                          0.000000
Jamaica                       15.200000
Japan                          2.263158
Laos                                inf
Mexico                         0.089831
Nicaragua                      0.214286
Outlying-US(Guam-USVI-etc)     0.750000
Peru                           0.033333
Philippines                   23.750000
Poland                         0.016949
Portugal                       0.027778
Puerto-Rico                    0.390244
Scotland                       0.000000
South                         79.000000
Taiwan                        24.500000
Thailand                       8.000000
Trinadad&Tobago                     inf
United-States                  0.138519
Vietnam                       32.500000
Yugoslavia                     0.000000
dtype: float64